
@use 'variables'
@use 'mixins'

*
   padding: 0
   margin: 0
   box-sizing: border-box


body
   height: 100vh
   background: variables.$light-gray


   h1
      color: variables.$almost-black
      transition: .2s
      cursor: pointer     
      text-shadow: 0 0rem 3rem         
   span
      color: variables.$orange

