
@use 'variables'
@use 'mixins'

*
   padding: 0
   margin: 0
   box-sizing: border-box
   scroll-behavior: smooth
   


body
   background: variables.$light-gray
   height: 200vh

   a
      text-decoration: none
      color: variables.$almost-black
      transition: .2s
      &:hover
         color: variables.$orange
   .mobile
      color: variables.$almost-white

.divCursor
   background: variables.$orange
   height:40px
   width:40px
   border-radius:50%
   background-image: url('../svg/mouse-cursor/mouse.svg')
   background-position: center
   background-size: cover
   cursor: none
