@use '../../styles/_variables'

    
nav
    display: flex
    justify-content: space-between
    align-items: center
    padding: 20px
    width: 93vw
    margin:  0 auto

    .white-logo
        width: 50px
        height: 50px
        transform: scale(.7)

    ul
        list-style: none
        display: flex
        gap: 25px
        li
            cursor: pointer
            transition: .2s
            font-family: 'TT Firs Neue Trl'
            &:hover
                color: variables.$orange

    .nav-mobile-open
        .menu-mobile-btn
            border: none
            background-color: transparent
            transform: scale(1.5)
              
    .nav-mobile-open-true
        z-index: 90
        width: 100vw
        min-height: 100dvh
        position: fixed
        padding: 20px
        top: 50%
        left: 50%
        padding: 20px
        display: flex
        align-items: center
        justify-content: center
 
        transform: translate(-50%, -50%)
        background-color: variables.$almost-black
        color: variables.$almost-white

        .logo-menu-close
            width: 80%
            display: flex
            justify-content: space-between
            align-items: center
            position: absolute
            top: 20px

        .mobile-ul
            flex-direction: column
            justify-content: center
            width: 100%
            align-items: center
            gap: 100px
            font-size: 3rem

            .mobile-li
                width: 90%
                text-align: center
                padding-bottom: 20px
                border-bottom: 2px solid variables.$white



        .menu-mobile-btn
            // position: absolute
            top : 40px
            right: 40px
            transform: scale(2)
            border: none
            color: variables.$white
            background-color: transparent
            